In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy as sp
from utils import misc


df = pd.read_csv('datasets/daily_price_series/SPY.csv')
df = misc.clean_df(df)
df = df.set_index('date')
df

,open,high,low,close,adjclose,volume,ticker
date,,,,,,,
1993-01-29,43.968750,43.968750,43.750000,43.937500,25.122364,1003200,SPY
1993-02-01,43.968750,44.250000,43.968750,44.250000,25.301012,480500,SPY
1993-02-02,44.218750,44.375000,44.125000,44.343750,25.354612,201300,SPY
1993-02-03,44.406250,44.843750,44.375000,44.812500,25.622643,529400,SPY
1993-02-04,44.968750,45.093750,44.468750,45.000000,25.729851,531500,SPY
...,...,...,...,...,...,...,...
2023-05-02,414.769989,414.820007,407.820007,410.839996,410.839996,103998500,SPY
2023-05-03,411.359985,413.869995,407.769989,408.019989,408.019989,91531800,SPY
2023-05-04,406.929993,407.269989,403.739990,405.130005,405.130005,94901900,SPY
2023-05-05,408.910004,413.720001,408.640015,412.630005,412.630005,87844000,SPY
2023-05-08,412.970001,413.100006,411.679993,412.659393,412.659393,15228219,SPY

In [13]:
random_orders = np.array([0 if f <= 0.5 else 1 for f in np.random.rand(len(df))])
np.mean(random_orders)

0.5063623245441428

In [ ]:

class backtester:
    def __init__(self, price_df) -> None:
        self.price_df = price_df
        self.close = price_df['close'].to_numpy()
        self.open = price_df['open'].to_numpy()
        self.

    
    def test_trades(trade_list)